
.custom-card-header {
  background-color: var(--header-color, #5856d6);
  color: var(--header-text-color, white);
  border-bottom: none;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}


h4 {
    margin: 0;
}

h5 {
  color: var(--h5-color);
}

p {
    margin-bottom: 5px;
}

ul {
    padding-left: 20px;
}

hr {
    margin: 20px 0;
}
