.container {
    max-width: 900px;
    margin: 0 auto;
  }
  .custom-card {
    background-color: #FF6F61; /* Açık nar kırmızı arka plan rengi */
    color: white; /* Yazı rengini beyaz yap */
  }
  
  .custom-card-header {
    background-color: #FF6F61; /* Başlık kısmı da aynı renk */
    color: white; /* Başlık yazı rengi beyaz */
    border-bottom: none; /* Başlık ile gövde arasında sınır kaldırma (isteğe bağlı) */
  }
  
  h4 {
    margin: 0; /* Başlıkta ek boşlukları kaldırmak için */
  }
  
  h5 {
    color: #333;
  }
  
  p {
    margin-bottom: 5px;
  }
  
  ul {
    padding-left: 20px;
  }
  
  hr {
    margin: 20px 0;
  }
  