<h2 mat-dialog-title>Doktor Ekle</h2>
<mat-dialog-content>
  <form [formGroup]="doctorForm">
    <mat-form-field appearance="fill">
      <mat-label>İsim</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Soyisim</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>İletişim Bilgisi</mat-label>
      <input matInput formControlName="contactInformation" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Kullanıcı Adı</mat-label>
      <input matInput formControlName="doctorUsername" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Şifre</mat-label>
      <input matInput formControlName="doctorPassword" type="password" />
    </mat-form-field>

    <mat-checkbox formControlName="isDeleted">Silindi mi?</mat-checkbox>
    <mat-checkbox formControlName="isFirstLogin">İlk Giriş mi?</mat-checkbox>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">İptal</button>
  <button mat-button (click)="onSubmit()">Kaydet</button>
</mat-dialog-actions>