<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Doctor First Name</th>
      <th scope="col">Doctor Last Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Actions</th> <!-- Actions column -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let doctor of doctors; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ doctor.firstName }}</td>
      <td>{{ doctor.lastName }}</td>
      <td>{{ doctor.contactInformation }}</td>
      <td>
        <button class="btn btn-primary" (click)="updateDoctor(doctor.id)">Edit</button>
        &nbsp;
        <button class="btn btn-danger" (click)="deleteDoctor(doctor.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Adding "Add New Doctor" button below the table -->
<div class="mt-3">
  <button class="btn btn-success" (click)="createDoctor()">Add New Doctor</button>
</div>
