<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Doktor Adı</th>
        <th scope="col">Doktor Soyadı</th>
        <th scope="col">Telefon Numarası</th>
        <th scope="col">İşlemler</th> <!-- İşlemler sütunu ekleniyor -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Batuhan</td>
        <td>Yavuz</td>
        <td>055124562</td>
        <td>
          <button class="btn btn-primary" (click)="editDoctor(1)">Düzenle</button>
          <button class="btn btn-danger" (click)="deleteDoctor(1)">Sil</button>
        </td> <!-- İşlemler butonları buraya ekleniyor -->
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Emre</td>
        <td>Ozyoruk</td>
        <td>0512345786</td>
        <td>
          <button class="btn btn-primary" (click)="editDoctor(2)">Düzenle</button>
          <button class="btn btn-danger" (click)="deleteDoctor(2)">Sil</button>
        </td> <!-- İşlemler butonları buraya ekleniyor -->
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colSpan="2">Ziya</td>
        <td>0521354235</td>
        <td>
          <button class="btn btn-primary" (click)="editDoctor(3)">Düzenle</button>
          <button class="btn btn-danger" (click)="deleteDoctor(3)">Sil</button>
        </td> <!-- İşlemler butonları buraya ekleniyor -->
      </tr>
    </tbody>
  </table>
  
  <!-- Tablonun altına "Yeni Hasta Ekle" butonu ekleniyor -->
  <div class="mt-3">
    <button class="btn btn-success" (click)="addNewDoctor()">Yeni Doktor Ekle</button>
  </div>
  