<table class="table table-striped">

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Patient First Name</th>
      <th scope="col">Patient Last Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Actions</th> <!-- Actions column -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patients; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ patient.firstName }}</td>
      <td>{{ patient.lastName }}</td>
      <td>{{ patient.phone }}</td>
      <td>
        <button class="btn btn-primary" (click)="editPatient(patient.id)">Edit</button>
        &nbsp;
        <button class="btn btn-danger" (click)="deletePatient(patient.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Add New Patient button below the table -->
<div class="mt-3">
<button class="btn btn-success" (click)="addNewPatient()">Add New Patient</button>
</div>
