<c-row class="g-4">

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="info" [title]="'Total Number:'" [routerLink]="['/admin/doctors']" style="min-height: 80px;">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>Doctors</span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <svg cIcon name="cil-people"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="warning" [title]="'Total Number:'" [routerLink]="['/admin/patients']" style="min-height: 80px;">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>Patients</span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <svg cIcon name="cil-people"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="danger" [title]="'Total Number:'" [routerLink]="['/admin/medicines']" style="min-height: 80px;">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>Medicines</span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <svg cIcon name="cil-medical-cross"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="primary" [title]="'Total Number:'" [routerLink]="['/admin/diseases']" style="min-height: 80px;">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>Diseases</span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <svg cIcon name="cil-healing"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="info" [title]="'Total Number:'" [routerLink]="['/doctor/my-patients']" style="min-height: 80px;">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>My Patients</span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <svg cIcon name="cil-people"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="warning" [title]="'Total Number:'" [routerLink]="['/doctor/medicines']" style="min-height: 80px;">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>Medicines</span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <svg cIcon name="cil-medical-cross"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="danger" [title]="'Total Number:'" [routerLink]="['/doctor/diseases']" style="min-height: 80px;">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>Diseases</span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <svg cIcon name="cil-healing"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  &nbsp;

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="primary" [title]="" [routerLink]="['/patient/my-health-information']" style="min-height: 80px;">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>My Health Information</span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <svg cIcon name="cil-user"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <c-col sm="6" xl="3">
    <c-widget-stat-a color="info" [title]="" [routerLink]="['/patient/generate-qr-code']" style="min-height: 80px;">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        <span>Generate QR Code</span>
      </ng-template>
      <ng-template cTemplateId="widgetActionTemplate">
        <svg cIcon name="cil-qr-code"></svg>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

</c-row>
